<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>部门列表管理</title>
	<link rel="stylesheet" href="__ROOT__/Public/dist/css/zui.min.css">
	<!-- ZUI Javascript 依赖 jQuery -->
	<script src="__ROOT__/Public/lib/jquery/1.9.1/jquery.js"></script>
	<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
	<script type="text/javascript"  src="__ROOT__/Public/dist/js/zui.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/lib/layer/2.4/layer.js"></script>
	<link rel="stylesheet" href="__ROOT__/Public/dist/lib/datatable/zui.datatable.css">
	<script src="__ROOT__/Public/dist/lib/datatable/zui.datatable.js"></script>
	<script src="__ROOT__/Public/dist/my97datepicker/wdatepicker.js"></script>
</head>
<body>

	<!-- 头部调用 -->
	<include file="Buy/header" /> 
	<!-- 顶部导航 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="{:U('Dept/index')}">主页</a></li>
			<li><a href="{:U('Dept/index')}">部门列表</a></li>
			<li class="">列表</li>
		</ol>
	</div>
	

	
	<div class="container">
		

	</div>
</body>
</html>