<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>采购信息管理</title>
	<link rel="stylesheet" href="/Public/dist/css/zui.min.css">

<!-- ZUI Javascript 依赖 jQuery -->
<script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.5.0/lib/jquery/jquery.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="/Public/dist/js/zui.min.js"></script>
<script type="text/javascript" src="/Public/lib/layer/2.4/layer.js"></script>

	<link rel="stylesheet" href="/Public/dist/lib/datatable/zui.datatable.css">
<script src="/Public/dist/lib/datatable/zui.datatable.js"></script>



<script src="/Public/dist/my97datepicker/wdatepicker.js"></script>
	<style>

		/*顶部样式表*/
		.headerss{
			line-height: 40px;
			height: 60px;
			margin-bottom: 10px;
		}
	
		/*分页样式*/
		.current, .num, .next,.prev{
			font-weight: bold;
			 border-radius: 4px;
			 line-height: 20px;
			 border: 2px solid rgba(15, 25, 78, 0.39);
			 padding: 5px 20px;
			 margin: 0px 10px;
		}
	</style>

</head>
<body>
<!-- 头部调用 -->
<include file="Buy/header" /> 

	
	<!-- 信息添加 -->
	<div class="container">
		<form class="form" action="__URL__/add" method="post">
			<table class="table table-bordered  col-md-12 ">
				<tr><input class="form-control" type="hidden" name="bid" readonly="">
					<!-- <td><label for="">编号：</label></td> -->
					<td colspan="2" ><label for="">id：</label><input class="form-control" type="text" name="buyid"  value="{$buyids}">
					<td colspan="2" ><label for="">品名：</label><input class="form-control" type="text" name="bname"></td>
					</td>
					<td class="col-sm-3" colspan="2" rowspan="2" style="line-height: 50px;">
						
							<label for="">数量：</label>
							<div class="col-md-12">
								<div class="input-group">
   								  <span class="input-group-addon">一共：</span>
   								  <input type="text" class="form-control"  name="bnum" placeholder="填写数字">
   								  <span class="input-group-addon">个</span>
   								</div>
   							</div> 
						
					</td>
					<!-- <td></td> -->
				</tr>
				<tr>
					<td><p class="col-md-12">
							<div class="col-md-1"><label for="">价格</label></div>
							<div class="col-md-7"><input class="form-control" type="text" name="bprice" size="5"></div>
							<div class="col-md-4">
								<select class="form-control"  name="bunit" id="">
									<option value="元">元</option>
									<option value="美元">美元</option>
								</select>
							</div>

						</p>
					</td>
					<td><label for="">来源：</label>
						<select class="form-control"  name="bcome" id="">
							<option value="京东">京东网</option>
							<option value="实体店">实体店</option>
							<option value="淘宝">淘宝网</option>
							<option value="一号店">一号店</option>
						</select>
					</td>
					<!-- <td>label</td>
					<td>label</td> -->
				</tr>
				<tr>
					<td><label for="">申请人：</label><input class="form-control" type="text" name="buser"></td>
					<td colspan="3"><label for="">申请说明：</label><textarea class="form-control"  name="binfo" width=100 placeholder="尽量写详细点。。。"></textarea></td>
					
					
				</tr>
				<tr>
					
					<td>
						<label for="">购买人：</label>
						<input class="form-control" type="text" name="bpayer">
					</td>
					<td>
						<label for="">购买日期：</label>
						<!-- <div class="form-date">
							<input class="form-control" type="text" name="bdate" size="12" >
						</div> -->
						<div class="form-date">
 						   <input style="    font-size: 16pt;    font-weight: bold;" class="form-control" size="16" type="text" value=""  name="bdate" onfocus="WdatePicker({isShowWeek:true})">
 						</div>
						
					</td>
					<td></td>
					<td></td>
					
				</tr>
				<tr>
					<td colspan="10" style="text-align: center;">
						<button class="btn btn-primary">提交信息</button>
						<button class="btn btn-danger" type="reset">重置信息</button>
					</td>
				</tr>
			</table>
		</form>
	</div>

	<!-- 信息整表查看 -->
	<div class="container">
		<table class="table table-bordered table-striped col-md-12 table-hover mytable">
			<tr>
				<th width="20">编号</th>
				<th>品名</th>
				<th width="20">数量</th>
				<th style="text-align: center;">价格</th>
				<th width="20">单位</th>
				<th width="80">申请人</th>
				<th>备注</th>
				<th>购买人</th>
				<th>来源</th>
				<th>日期</th>
				<th><b>管理</b></th>
			</tr>
			<volist name="data" id="vo">
				<tr>
					<td>{$vo.bid}</td>
					<td>{$vo.bname}</td>
					<td>{$vo.bnum}</td>
					<td align="right">{$vo.bprice}</td>
					<td>{$vo.bunit}</td>
					<td>{$vo.buser}</td>
					<td>{$vo.binfo}</td>
					<td>{$vo.bpayer}</td>
					<td>{$vo.bcome}</td>
					<td>{$vo.bdate}</td>
					<td>
						<a href="{:U('Buy/edit/',array('bid'=>$vo['bid']))}"><i class="icon icon-edit text-primary" ></i></a>&nbsp;
						<!-- <a id="edit" href="javascript:void();"  onclick="myedit('{$vo.bid}')"><i class="icon icon-edit text-primary" ></i></a>&nbsp; -->
						<a  onClick="return confirm('确定删除?'); " href="{:U('Buy/del/',array('bid'=>$vo['bid']))}"><i class="icon icon-trash text-danger" ></i></a>
					</td>
				</tr>	
			</volist>
						<script type="text/javascript">
						function myedit(str){
							// alert(str);
							// var url = '{:U("Buy/edit/")}?bid='+str;
							// alert(url);
						   layer.open({
						        type: 2,
						        title: '修改',
						        maxmin: true,
						        shadeClose: true, //点击遮罩关闭层
						        area : ['800px' , '520px'],
						        content: '{:U("Buy/edit/")}?bid='+str,
						        end: function () {
						                location.reload();
						            }
						    });
						}


						//弹出一个iframe层
						// $('#edit').on('click', function(){
						    // layer.open({
						        // type: 2,
						        // title: '修改',
						        // maxmin: true,
						        // shadeClose: true, //点击遮罩关闭层
						        // area : ['800px' , '520px'],
						        // content: '{:U("Buy/edit/",array("bid"=>$vo["bid"]))}',
						        // end: function () {
						                // location.reload();
						            // }
						    // });
						// });
						</script>

				<tr>
					<td colspan="11" >
					<!-- <div class="col-md-3"><button  class="btn btn-primary">一共有{$count}条数据</button></div> -->
					
					<div class="col-md-9">{$page}</div></td>
				</tr>
			
		</table>

		<script>
			$('.mytable').datatable({sortable: true});
		</script>

	</div>
</body>

</html>