<!-- <div class="header">
	<h1>这里是调用的头部信息</h1>
</div> -->


	<div class="headerss bg-primary">
		<div class="container">
			<div class="logo col-md-5">				
				<h3><i class="icon icon-2x icon-shopping-cart"></i> 采购信息管理</h3>
			</div>
			<!-- <div class="logo col-md-7">
				<ul class="nav nav-primary">
				  <li class="active"><a href="{:U('Buy/index')}">采购首页</a></li>
				  <li><a href="{:U('Dept/index')}">部门管理 </a></li>
				  <li><a href="{:U('Buy/index')}">项目 </a></li>
				  <li>
				    <a class="dropdown-toggle" data-toggle="dropdown" href="your/nice/url">更多 <span class="caret"></span></a>
				    <ul class="dropdown-menu">
				      <li><a href="your/nice/url">任务</a></li>
				      <li><a href="your/nice/url">bug</a></li>
				      <li><a href="your/nice/url">需求</a></li>
				      <li><a href="your/nice/url">用例</a></li>
				    </ul>
				  </li>
				</ul>
				
			</div> -->

			
		</div>	
		</div>
