<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="__ROOT__/favicon.ico" type="image/vnd.microsoft.icon"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>员工信息管理</title>
	<link rel="stylesheet" href="__ROOT__/Public/dist/css/zui.min.css">
	<!-- ZUI Javascript 依赖 jQuery -->
	<script src="__ROOT__/Public/lib/jquery/1.9.1/jquery.js"></script>
	<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
	<script type="text/javascript"  src="__ROOT__/Public/dist/js/zui.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/lib/layer/2.4/layer.js"></script>
	<link rel="stylesheet" href="__ROOT__/Public/dist/lib/datatable/zui.datatable.css">
	<script src="__ROOT__/Public/dist/lib/datatable/zui.datatable.js"></script>
	<script src="__ROOT__/Public/dist/my97datepicker/wdatepicker.js"></script>
	<style>

		/*顶部样式表*/
		.headerss{
			line-height: 40px;
			height: 60px;
			margin-bottom: 10px;
		}

		/*分页样式*/
		.current, .num, .next,.prev{
			font-weight: bold;
			border-radius: 4px;
			line-height: 20px;
			border: 2px solid rgba(15, 25, 78, 0.39);
			padding: 5px 20px;
			margin: 0px 10px;
		}
	</style>

</head>
<body>
<!-- 引入投标信息 -->
<include file="Index/header" />
	
</body>
</html>